agent/src/features/pipeline/flows/opcua-transform.flows.json
[{"id":"e381eb825b139912","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"8888d24c41a3bac6","type":"iotistica-pipeline-in","z":"e381eb825b139912","name":"","x":260,"y":400,"wires":[["8dcaee2caa3b4c40"]]},{"id":"8dcaee2caa3b4c40","type":"function","z":"e381eb825b139912","name":"function 2","func":"const batch = msg.payload;\n\nif (batch && Array.isArray(batch.messages) && batch.messages.length > 0) {\n      const first = batch.messages[0];\n\n      if (first) {\n            if (Array.isArray(first.readings) && first.readings.length > 0) {\n                  first.readings[0].value = 56;\n            }\n            else if ('value' in first) {\n                  first.value = 56;\n            }\n      }\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":400,"wires":[["afe369b2439cd645"]]},{"id":"74fe3189223ce5cc","type":"iotistica-pipeline-out","z":"e381eb825b139912","name":"","x":930,"y":400,"wires":[]},{"id":"afe369b2439cd645","type":"delay","z":"e381eb825b139912","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":720,"y":400,"wires":[["74fe3189223ce5cc"]]},{"id":"9183a26a12fbb90b","type":"global-config","env":[],"modules":{"@iotistic/nr-pipeline":"1.0.0"}}]